.about-title-text-box {
    padding: 5px;
    width: 700px;
    margin: auto;
    text-align: center; 
    color: var(--text-colour);
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
}

.about-description-text {
    width: 500px;
    margin: 5px auto;
    text-align: center; 
    color: var(--text-colour);
    font-size: 17.5px;
    margin-top: 0px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .about-title-text-box {
      width: 90%;
      font-size: 40px;
    }
  }

  @media (max-width: 767px) {
    .about-description-text {
      width: 90%;
      font-size: 14px;
    }
  }