.blog-title-disabled {
    padding: 5px;
    width: 500px;
    margin: 30px auto;
    text-align: center; 
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}

.blog-title {
    padding: 5px;
    width: 1000px;
    margin: auto;
    text-align: center; 
    color: white;
    font-size: 43px;
    font-weight: bold;
    margin-top: 50px;
    text-decoration: none;
}

.blog-box-title:hover {
    color: var(--hover-colour);
}

.blog-date-disabled {
    padding: 5px;
    width: 500px;
    margin: auto;
    text-align: center; 
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.blog-date {
    width: 500px;
    margin: 5px auto;
    text-align: center; 
    color: white;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.blog-description {
    margin: 5px auto;
    text-align: center; 
    color: white;
    text-decoration: none;
}



.blog-box-text {
    font-size: 15.5px;
    line-height: 1.5;  
}

.blog-text {
    font-size: 18px;
    line-height: 1.5;  
    text-decoration: none;
}

.blog-text a {
    text-decoration: none;
}

.blog-box-date {
    font-size: 15px;
    line-height: 1.5;  
}

.blog-box {
    width: 900px;
    margin: 10px auto;  
    padding: 23px;
    border-radius: 10px;  
    background-color: var(--object-colour);
    color: white;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    position: relative;
    text-decoration: none;
}

.blog-footer {
    width: 500px;
    margin: 30px auto;
    text-align: center; 
    color: white;
    font-size: 14px;
    bottom: 0;
    margin-top: 1px;
}

.date_text_blog {
    color: gray;
    font-size: 23px;
    margin-bottom: 20px;  
    font-weight: bold;
}


@media (max-width: 1000px) {
    .blog-box {
      width: 90%;
    }
  }



  @media (max-width: 767px) {
    .blog-title {
      width: 90%;
      font-size: 40px;
    }
  }

  @media (max-width: 767px) {
    .blog-date {
      width: 90%;
      font-size: 14px;
    }
  }


  .homepage-blog-box {
    width: 950px;
    margin: 10px auto;  
    padding: 23px;
    border-radius: 10px;  
     background-color: #17181a;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    position: relative;
    text-align: left;
}

@media (max-width: 1000px) {
    .homepage-blog-box {
      width: 90%;
    }
  }

.blog-box-title {
    color: white;
    font-size: 29px;
    margin-bottom: 20px;  
    font-weight: bold;
    text-decoration: none;
}