
.circular-image {
    border-radius: 50%;
    width: 260px;
    height: 260px;
    border: 7px solid #202020;
    display: block;
    float: left;
    margin-left: 7px;
    margin-right: 25px;
    margin-bottom: 25px;
  }

.card-title {
    flex: 1;
}

.card-text {
    font-size: 16.5px;
    margin-right: 18px;
}

.card-box {
    width: 950px; 
    margin: 30px auto;  
    padding: 20px;
    border-radius: 10px;  
    background-color: var(--object-colour);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: calc(100% - 30px); 
    position: relative;
    text-align: left;
    margin-top: 50px;
}

.homepage-box-title {
  font-size: 33px;
  line-height: 1.5;  
  color: white;
  text-decoration: none;
  font-weight: bold;
  justify-content: left;
  align-items: left;
  text-align: left;
  width: 90%;
}

.homepage-box-text {
font-size: 30px;
margin: 0 5px;
line-height: 1.5;  
color: white;
text-decoration: none;
width: 950px;

justify-content: right;
align-items: right;
text-align: right;
align-self: center;
}

.homepage-box {
  width: 970px; 
  margin: auto;  
  border-radius: 10px;  
  color: white;
  height: calc(100% - 100px);
  margin-top: 150px;
  position: relative;
  display: flex;
}

.view-more-posts {
  display: flex;
  justify-content: center;
  text-align: right;
  clear: both;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration-color: white;
  margin-top: 20px;
  text-decoration: none;
}

.view-more-posts:hover {
  text-decoration-color: var(--hover-colour);
  color: var(--hover-colour);
}

.social-icons {
  display: flex;
  justify-content: right;
  margin: auto;
}

.social-icon:hover {
  color: var(--hover-colour);
  
}

.social-icon {
  display: flex;
  font-size: 33px;
  margin: 5.5px;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}


@media (max-width: 1000px) {
.homepage-box {
   width: 90%;
}
}

@media (max-width: 767px) {
    .card-box {
      width: 90%;
      margin-top: 10px;
    }

    .circular-image {
    width: 335px;
    height: 335px;
    }
  }

  