
:root {
  --background-colour: #0e0f0f;
  --object-colour: #17181a;
  --hover-colour: #3F4E87;
}

body {
    font-family: "Lexend";
    background-color: var(--background-colour);
}


.box-title {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;  
    font-weight: bold;
    text-decoration: none;
}

.box-text {
    font-size: 18px;
    line-height: 1.5;  
    color: white;
    text-decoration: none;
}

.box-list {
  font-size: 17px;
  line-height: 1.3;  
  color: white;
  text-decoration: none;
}

.box {
    width: 900px; 
    margin: 10px auto;  
    padding: 25px;
    border-radius: 10px;  
    background-color: var(--object-colour);
    color: white;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    margin-top: 5px;
    position: relative;
    text-decoration: none;
}



.footer {
    width: 500px;
    margin: 30px auto;
    text-align: center; 
    color: white;
    font-size: 15px;
    bottom: 0;
}

.footer-link {
  text-decoration-color: rgb(141, 141, 141);
  color: white;
}

.footer-link:hover {
  text-decoration-color: var(--hover-colour);
  color: var(--hover-colour);
}


.title-text-box {
    padding: 5px;
    width: 700px;
    margin: auto;
    text-align: center; 
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}


.gicus-box {
    width: 900px; 
    margin: 10px auto;  
    margin-bottom: 50px;
}

.remove-colour {
  color: white;
}

@media (max-width: 767px) {
    .gicus-box {
      width: 90%;
    }
  }

@media (max-width: 1000px) {
  .box {
     width: 90%;
}
}

@media (max-width: 767px) {
    .footer {
      width: 90%;
    }
  }

 @media (max-width: 767px) {
    .title-text-box {
      width: 90%;
      font-size: 40px;
    }
}

