.nav-container ul {
    list-style: none; 
 }
 
 .nav-container li {
     display: inline-block;
     margin-right: 13.5px;
 }
 
 .nav li a {
     display: inline-block;
     color: #45475A;
     text-align: center;
     padding: auto;
     text-decoration: none;
 }
 
 .nav {
     position: relative;
 }

.nav-container {
    margin: 0 auto;
    text-align: center;
}