.nav-container ul {
    list-style: none; 
 }
 
 .nav-container li {
     margin-top: 5px;
     display: inline-block;
     margin-right: 9px;
 }
 
 .nav li a {
     color: #5D607A;
     text-decoration: none;
 }
 

.nav-container {
    text-align: center;
}

.remove-url-effect {
    color: white;
}

@media (max-width: 767px) {
    .nav-container {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }