.nav-container ul {
    list-style: none; 
    text-align: center; 
 }
 
 .nav-container li {
     margin-top: 5px;
     display: inline-block;
     margin-right: 12px;
     text-align: center; 
     
 }
 
 .nav li a {
     color: #5c6069;
     text-decoration: none;
     text-align: center; 
 }
 

.nav-container {
    display: flex;
    justify-content: center;
    text-align: center; 
}

.remove-url-effect {
    color: white;
}

@media (max-width: 767px) {
    .nav-container ul {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    .nav-container {
        width: 100%;
    }
  }


.gray-icon {
    color: #5c6069;
    margin-right: 5px;
    font-size: 17px;
}

.nav-text {
    font-size: 17px;
}

@media (max-width: 767px) {
    .nav-text {
      font-size: 18px;
    }
    .gray-icon {
        font-size: 18px;
        display: none
    }
  }