
.password-length {
    color: white;
    font-size: 15px;
    margin-right: 20px;
    display: flex;
    flex: 1;
}

.password-slider {
    font-size: 15px;
    width: 900px;
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
    border: none;
    width: 150%;
}

@media (max-width: 767px) {
    .passgen-box {
      width: 90%;
      font-size: 40px;
    }
}

.passgen-box {
    width: 950px; 
    margin: 10px auto;  
    padding: 20px;
    border-radius: 10px;  
    background-color: #17181a;
    color: white;
    text-align: justify;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    margin-top: 10px;
    position: relative;
    text-align: left;
}

.generated-password {
    flex: 1;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
    word-wrap: break-word;
    text-align: justify;
}

.passgen-spacer {
    margin-top: 50px;
}

.passgen-title {
    padding: 5px;
    width: 700px;
    margin: auto;
    text-align: center; 
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
}

.passgen-description {
    width: 500px;
    margin: 5px auto;
    text-align: center; 
    color: white;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.passgen-text-box {
    width: 970px; 
    margin: auto;  
    border-radius: 10px;  
    color: white;
    height: calc(100% - 100px);
    margin-top: 5px;
    position: relative;
    display: flex;
}

.passgen-text-box-title {
    font-size: 30px;
    line-height: 1.5;  
    color: white;
    text-decoration: none;
    font-weight: bold;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.passgen-text-box-text {
    font-size: 30px;
    margin: 0 5px;
    line-height: 1.5;  
    color: white;
    text-decoration: none;
    
    justify-content: right;
    align-items: right;
    text-align: right;
    align-self: center;
}


@media (max-width: 1000px) {
  .passgen-text-box-text {
       width: 90%;
  }
  .passgen-text-box-title {
    width: 90%;
    font-size: 50px;
  }
  .passgen-box {
    width: 90%;
  }

  .passgen-text-box-text {
    display: none;
  }

  .passgen-text-box {
    padding: 0;
    margin-bottom: 1px;
  }
  }