.projects-divider-box {
    width: 85%; 
    margin: auto;  
    border-radius: 10px;
    height: calc(100% - 100px);
    position: relative;
    display: flex;
}

.projects-divider-box-title {
    font-size: 33px;
    line-height: 1.5;  
    color: var(--text-colour);
    text-decoration: none;
    font-weight: bold;
    justify-content: left;
    align-items: left;
    text-align: left;
    width: 90%;
  }


.project-languages {
    font-size: 15px;
    line-height: 1;  
}

.project-box {
    padding: 27px;
    border-radius: 10px;
     background-color: var(--object-colour);
    color: white;
    text-align: left;
    width: 88.5%;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 9.6px;
    column-width: 100%;
    align-content: center;
    margin-right: 150px;
    margin-left: 140px;
}


.project-box-text {
    font-size: 17px;
    line-height: 1.5;  
    color: var(--text-colour);
    text-decoration: none;
}

.project-box-title {
    color: var(--text-colour);
      font-size: 27px;
      margin-bottom: 20px;  
      font-weight: bold;
      text-decoration-color: rgb(192, 192, 192);
  }

.project-box-title:hover {
    color: var(--hover-colour);
    text-decoration-color: var(--hover-colour);
}

  @media (max-width: 1700px) {
    .projects-list {
        width: 95%;
        margin-right: 0px;
        margin-left: 0px;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
      }
  }

  @media (max-width: 1000px) {
    .projects-list {
      width: 95%;
      margin-right: 0px;
      margin-left: 0px;
      grid-template-columns: repeat(1, 1fr);
      margin: auto;
    }

  }