<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://fonts.upset.dev/css?family=Poppins">
    <link rel="shortcut icon" href="{{ favicon }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="stylesheet" href="https://fonts.upset.dev/css?family=Lexend">
    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="b6e5e674-b59a-477b-95e1-bbacb93c6df1"></script>
    <title>About Me | Alecks</title>
</head>
<body>

    {{ navigation | safe }}

      <div class="heading">
        <h1 class="about-title-text-box">About Me</h1>
        <p class="about-description-text"></p>
    </div>

    <div class="box">
        <h1 class="box-title">Introduction ☘️</h1>
        <p class="box-text">
                I’m a young self-taught developer who is passionate about technology and has future admirations to become a network engineer, cloud engineer or systems administrator. I specialize in system administration, networking and dabble in programming.
        </p>
    </div>

    <div class="box">
        <h1 class="box-title">Contact Me 📬</h1>
        <p class="box-text">
            You can contact me via email at me@alecks.dev or send me a dm on discord my username is atomic3ds. Use email for formal inquiries and message me on discord for casual conversations.
        </p>
    </div>


    <div class="box">
        <h1 class="box-title">My Background 🪴</h1>
        <p class="box-text">
            I come from a family that is not very technologically literate and who has never been into the technical sides of technology so that makes it hard to explain to them what I do. However even with that barrier, I’m still excelling in multiple areas of technology just because I have passion for this field and love working in it.
        </p>
    </div>

    <div class="box">
        <h1 class="box-title">Facts About Me 🪵
        </h1>
        <p class="box-text">
            I think its starting to get a bit unhealthy, but I listen to music all the time and it definitely helps me work better while putting me at ease. I have 5000+ hours on Spotify and listen to all sorts of different genres including things like Rap, Lo-Fi, Ambient, Phonk, etc.
            <br><br>
            I first got into technology through networking in 2021, and due to the way I like to experiment and constantly mess around with things I picked it up really fast and easily, I don’t know what I would do as a job if I wasn’t good at technology at this point.
        </p>
    </div>


    {{ footer | safe }}

</body>
</html>
