<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="shortcut icon" href="{{ favicon }}">
    <title>A3D - Archives</title>
</head>
<body style="background-color: #0C0F15;"></body>
<body>
    {{ navigation | safe }}

      <div class="heading">
        <h1 class="title-text-box">Archives</h1>
      </div>

      <div class="box">
        <a href="https://v1-website.a3d.pro" target="_blank"><h1 class="box-title">A3D Website v1</h1></a>
        <p class="box-text">
            The original version of the a3d.pro website, the current one is a complete rewrite and redesign. This version is way less clean and didn't have as many things on it as now. All there is is a landing page, projects section and about section
        </p>
      </div>

      <div class="box">
        <a href="https://legacy-atomic2ds-page.a3d.pro" target="_blank"><h1 class="box-title">Legacy Atomic2ds Site</h1></a>
        <p class="box-text">
            Very simple landing page I used to put in my bio, its not very good its just a simple background with a few buttons and text on top of it, used to be deployed on my github domain atomic2ds.github.io
        </p>
      </div>


      <div class="footer">
        <p>Made with ❤️ by Atomic2ds</p>
    </div>
</body>
</html>