<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="stylesheet" href="https://fonts.upset.dev/css?family=Lexend">
    <link rel="shortcut icon" href="{{ favicon }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="a3f41876-1687-4136-9e0a-50c07097f40a"></script>

    <title>Blog Posts | Alecks</title>
</head>
<body>
  {{ navigation | safe }}

      <div class="heading">
        <h1 class="title-text-box">Blog Posts</h1>
      </div>


      {% for post in posts %}
        <div class="box">
          <h3 class="blog-box-date">{{ post.time_ago }}</h3>
          <a class="blog-box-title" href="/post/{{ post.slug }}"><h1 class="blog-box-title">{{ post.meta['title'] }}</h1></a>
          <p class="blog-box-text">
            {{ post.description }}
          </p>
        </div>
      {% endfor %}

      {{ footer | safe }}
</body>
</html>