<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="shortcut icon" href="{{ favicon }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script defer src="https://umami.alecks.dev/script.js" data-website-id="{{ tracking_id }}"></script>
    <title>Alecks - Blog Posts</title>
</head>
<body style="background-color: #0A0C10;"></body>
<body>
  {{ navigation | safe }}

      <div class="heading">
        <h1 class="title-text-box">Blog Posts</h1>
      </div>
      {% for post in posts %}
        <div class="blog-box">
          <h3 class="blog-box-date">{{ post.date }}</h3>
          <a href="/post/{{ post.slug }}"><h1 class="blog-box-title">{{ post.meta['title'] }}</h1></a>
          <p class="blog-box-text">
            {{ post.description }}
          </p>
        </div>
      {% endfor %}

      <div class="footer">
        <p>Made with ❤️ by Alecks</p>
    </div>
</body>
</html>