<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">
    <link rel="stylesheet" href="https://fonts.upset.dev/css?family=Lexend">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="shortcut icon" href="{{ favicon }}">
    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="b6e5e674-b59a-477b-95e1-bbacb93c6df1"></script>

    <title>{{ post.meta['title'] }} | Alecks</title>
</head>

    {{ navigation | safe }}

    <div class="heading">
        <h1 class="blog-title">{{ post.meta['title'] }}</h1>
        <h1 class="blog-date">{{ post.meta['time_ago'] }}</h1>
    </div>

    <div class="blog-box">
        <div class="blog-text">{{ post_body | safe }}</div>
    </div>

    {{ footer | safe }}

</body>
</html>