<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="shortcut icon" href="{{ favicon }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="./static/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='error.css') }}">
    <link rel="stylesheet" href="https://fonts.upset.dev/css?family=Lexend">

    <title>{{ text }} | Alecks</title>
</head>
<body>
  {{ navigation | safe }}

    <div class="content-error">
        <h1 class="title-error">{{ text }}</h1>
    </div>
    <p class="error-footer">© 2024 Alecks</p>
</body>
</html>