<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="shortcut icon" href="{{ favicon }}">
    <title>{{ text }}</title>
</head>
<body style="background-color: #0C0F15;"></body>
<body>
    <div class="content-error">
        <h1 class="title-error">{{ text }}</h1>
        <p class="text-error">Made with ❤️ by Atomic2ds</p>
    </div>
</body>
</html>