<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="shortcut icon" href="{{ favicon }}">
    <title>A3D - Glossary</title>
</head>
<body style="background-color: #0C0F15;"></body>
<body>
    {{ navigation | safe }}

    <div class="heading">
        <h1 class="title-text-box">Glossary</h1>
      </div>

    <div class="box">
        <a href="/projects"><h1 class="box-title">Projects</h1></a>
        <p class="box-text">
            Basic list of all my open-souce projects available on my github profile. Go check some out! Note that im not very organised so it might be hard to understand my code.
        </p>
    </div>

    <div class="box">
        <a href="/archives"><h1 class="box-title">Archives</h1></a>
        <p class="box-text">
            Personal archives of stuff like my old website designs, old files pictures videos and media, with much much more. Most of this is stored on my home server tunneled via Cloudflare
        </p>
      </div>

      <div class="box">
        <a href="/deployments"><h1 class="box-title">Deployments</h1></a>
        <p class="box-text">
            Visit sites I currently have deployed on my cloud servers, majority of these are open-source on github and available in the projects section.
        </p>
      </div>


    <div class="footer">
        <p>Made with ❤️ by Atomic2ds</p>
    </div>

</body>
</html>