<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="shortcut icon" href="{{ favicon }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script defer src="https://umami.alecks.dev/script.js" data-website-id="{{ tracking_id }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend">

    <meta content="Alecks — Linux SysAdmin" property="og:title" />
    <meta content="I’m a young self-taught developer who is passionate about technology and has future admirations to become a network engineer, cloud engineer or systems administor." property="og:description" />
    <meta content="https://alecks.dev" property="og:url" />
    <meta content="#30394B" data-react-helmet="true" name="theme-color" />
    <meta content="https://alecks.dev/content/favicon.gif" property="og:image" />

    <script defer src="https://analytics.eu.umami.is/script.js" data-website-id="15da12a7-878f-4a53-b826-fc57caf0101b"></script>

    <title>Alecks | Linux SysAdmin</title>
</head>
<body>

    {{ navigation | safe }}

    <div class="card-box">
        <div class="content">
            <img src="./content/avatar.jpg" alt="my profile picture" class="circular-image">
            <h1 class="card-title">Hello mate!👋</h1>
            <p class="card-text">I’m a young self-taught developer who is passionate about technology and has future admirations to become a network engineer, cloud engineer or system administor, I also happen to specialize and excel in all of these fields.</p>

            <p class="card-text">This is my home on the internet because its the only part owned entirely by me, if any of my accounts get terminated or I get erased off the internet this website will always be here and I plan to keep it up for a very long time.</p>
            
            <p class="card-text">As much as I enjoy computers, internet and networking. I'm only in my early teenage years, not fully consistent and more interested at making cherished memories with my friends at this point in time.</p>
        
        </div>
    </div>

    {{ footer | safe }}



    <div class="homepage-box">
        <p class="homepage-box-title">
            My latest posts 🪴
        </p>
        <div class="social-icons">
          <a href="https://github.com/alecks20" target="_blank" class="social-icon">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://status.alecks.dev" target="_blank" class="social-icon">
            <i class="fa-solid fa-heart-pulse"></i>
          </a>
        </div>
    </div>

    {% for post in posts %}
    <div class="homepage-blog-box">
      <h3 class="blog-box-date">{{ post.time_ago }}</h3>
      <a class="blog-box-title" href="/post/{{ post.slug }}"><h1 class="blog-box-title">{{ post.meta['title'] }}</h1></a>
      <p class="blog-box-text">
        {{ post.description }}
      </p>
    </div>
    {% endfor %}

    <a href="./blog" class="view-more-posts">
          See them all
    </a>

    
    <div class="container" style="display: flex; justify-content: space-between; margin-top: 50px;">
        <div></div>
      </div>



</body>
</html>