<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="shortcut icon" href="{{ favicon }}">
    <title>A3D - Home</title>
</head>
<body style="background-color: #0C0F15;"></body>
<body>

    <nav class="nav-container">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>

    <div class="primary-box">
        <div class="content">
            <img src="https://cdn.a3d.pro/uploads/yuqihldza89pzp1sy009-158e5edadf4269b118206ef43ddfecd3%20(1).jpg" alt="my profile picture" class="circular-image">
            <h1 class="card-title">Welcome to my website 👋</h1>
            <p class="card-text">I'm a 14 year old self-taught developer with experience in html, css and python. I work on building cool and useful apps and experiences while trying to grow my skills. This personal website project is one of them.</p>

            <p class="card-text">You can find informaiton about me like fun facts and also my experience such as: server experience, basic computer knowledge, hosting provider experience, networking knowledge, etc. On the about page.</p>
            
            <p class="card-text">I also constantly write blog posts in the blog section of this website, you can see them all and read them there. I try not to make them too long but sometimes I just can't stop yapping. I post from every week to every month, its not consistent.</p>

        </div>
    </div>


    <div class="footer">
        <p>Made with ❤️ by Atomic2ds</p>
    </div>

</body>
</html>