<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="shortcut icon" href="{{ favicon }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script defer src="https://umami.alecks.dev/script.js" data-website-id="{{ tracking_id }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <title>Alecks - Projects</title>
</head>
<body>
    {{ navigation | safe }}

      <div class="heading">
        <h1 class="about-title-text-box">Projects</h1>
        <p class="about-description-text"></p>
      </div>

    <div class="projects-list">

        <div class="project-box">
            <h3 class="project-languages">Discord.py & Docker</h3>
            <a href="https://github.com/Alecks20/Float" target="_blank"><h1 class="box-title">Float Bot</h1></a>
            <p class="box-text">
                Help you community reach its potential. Float helps you manage your community with ease. Currently not ready for production
            </p>
        </div>

      <div class="project-box">
        <h3 class="project-languages">Flask, HTML/CSS, Docker & JavaScript</h3>
        <a href="https://github.com/Atomic2ds/Alecks-Website" target="_blank"><h1 class="box-title">Alecks Website</h1></a>
        <p class="box-text">
            My current personal website, your currently on it right now. Looking at rewriting in NodeJS and adding more frontend JS
        </p>
      </div>

      <div class="project-box">
        <h3 class="project-languages">Discontinued・Flask, HTML/CSS & Docker</h3>
        <a href="https://github.com/Atomic2ds/A3D-CDN" target="_blank"><h1 class="box-title">Alecks Media</h1></a>
        <p class="box-text">
            An older project built that let me easily upload content and make them available via a url. Now I just use cloudflare pages and github
        </p>
    </div>

    <div class="project-box">
        <h3 class="project-languages">Archived・HTML/CSS</h3>
        <a href="https://a3d-website-v1.pages.dev" target="_blank"><h1 class="box-title">A3D Website</h1></a>
        <p class="box-text">
            My old website, not really centered around me like this one. There is still a prod website online for archival purposes
        </p>
      </div>

      <div class="project-box">
        <h3 class="project-languages">Discontinued・Discord.py & Docker</h3>
        <a href="https://github.com/Atomic2ds/Cloudy" target="_blank"><h1 class="box-title">Cloudy Bot</h1></a>
        <p class="box-text">
            My attempt at building a sleek, responsive and feature packed multipurpose discord bot. Made in early 2023 shutdown in early 2024
        </p>
    </div>


    <div class="project-box">
        <h3 class="project-languages">Discontinued・Flask & Docker</h3>
        <a href="https://github.com/Atomic2ds/Cloudy-Media" target="_blank"><h1 class="box-title">Cloudy Media</h1></a>
        <p class="box-text">
           Simple flask media server built to connect to the Cloudy bot and make pictures not expire when uploading art
        </p>
    </div>

    <div class="project-box">
        <h3 class="project-languages">Discontinued・Discord.py</h3>
        <a href="https://github.com/Atomic2ds/Panda-py" target="_blank"><h1 class="box-title">Panda-py</h1></a>
        <p class="box-text">
            My first discord bot coded in python using discord.py, only works on replit and doesn't have many features (Just some basic utilities every bot has)
        </p>
    </div>

    <div class="project-box">
        <h3 class="project-languages">Discontinued・HTML/CSS</h3>
        <a href="https://github.com/Alecks20/Legacy-Website" target="_blank"><h1 class="box-title">Atomic2ds Website</h1></a>
        <p class="box-text">
            Absolute mess of a website, features a basic homepage with social links
        </p>
    </div>



</div>

    {{ footer | safe }}
</body>
</html>