<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="shortcut icon" href="{{ favicon }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script defer src="https://umami.alecks.dev/script.js" data-website-id="{{ tracking_id }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <title>Alecks - Projects</title>
</head>
<body>
    {{ navigation | safe }}

      <div class="heading">
        <h1 class="about-title-text-box">My Projects</h1>
        <p class="about-description-text">Mainly just Python, starting to include HTML/CSS and JS now.</p>
      </div>

    <div class="projects-list">

      <div class="project-box">
        <h3 class="project-languages">FastAPI, Python, HTML/CSS & JavaScript</h3>
        <a href="./passgen"><h1 class="box-title">Passgen</h1></a>
        <p class="box-text">
            An addon to Alecks Website, includes a sleek, minimal and efficient password generator. You can use a satisfying slider to choose between 16 and 256 characters. Credits to <a href="https://github.com/SuperRicky14" target="_blank" class="remove-url-effect">SuperRicky</a> for helping me out with this
        </p>
      </div>

      <div class="project-box">
        <h3 class="project-languages">Flask, HTML/CSS, Docker & JavaScript</h3>
        <a href="https://github.com/Atomic2ds/Alecks-Website" target="_blank"><h1 class="box-title">Alecks Website</h1></a>
        <p class="box-text">
            The website your on right now, it is my 2nd attempt at web development and im actually enjoying it this time, expect this website to get updated constantly when I learn more things. I have a lot I plan to add to this.
        </p>
      </div>

      <div class="project-box">
        <h3 class="project-languages">Flask, HTML/CSS & Docker</h3>
        <a href="https://github.com/Atomic2ds/A3D-CDN" target="_blank"><h1 class="box-title">Alecks Media (Discontinued)</h1></a>
        <p class="box-text">
            Currently not deployed anywhere, used to host publically available content and make them available at a url. We have moved to use Alecks Assets instead. (This project is archived)
        </p>
    </div>

    <div class="project-box">
        <h3 class="project-languages">HTML/CSS</h3>
        <a href="https://a3d-website-v1.pages.dev" target="_blank"><h1 class="box-title">A3D Website v1 (Archived)</h1></a>
        <p class="box-text">
            The original website deployed at a3d.pro, majority of it is ai chatbots. When I made this website I didn't really care about wev dev and just wanted a website for the sake of having a website. Its currently just deployed on Cloudflare Pages
        </p>
      </div>

      <div class="project-box">
        <h3 class="project-languages">Discord.py & Docker</h3>
        <a href="https://github.com/Atomic2ds/Cloudy" target="_blank"><h1 class="box-title">Cloudy (Discontinued)</h1></a>
        <p class="box-text">
            My attempt at building a sleek, responsive and feature packed multipurpose discord bot. It has tons of modules like a one word story, art module, game server linking module and smp linking module.
        </p>
    </div>


    <div class="project-box">
        <h3 class="project-languages">Flask & Docker</h3>
        <a href="https://github.com/Atomic2ds/Cloudy-Media" target="_blank"><h1 class="box-title">Cloudy Media (Discontinued)</h1></a>
        <p class="box-text">
            A custom media server built for the Cloudy discord bot built to make sure art post uploads don't expire on Discord's CDN, A3D CDN replaced and was also based off of this repo.
        </p>
    </div>

    <div class="project-box">
        <h3 class="project-languages">Discord.py</h3>
        <a href="https://github.com/Atomic2ds/Panda-py" target="_blank"><h1 class="box-title">Panda-py (Discontinued)</h1></a>
        <p class="box-text">
            My first discord bot coded in python using discord.py, only works on replit and doesn't have many features (Just some basic utilities every bot has)
        </p>
    </div>

    <div class="project-box">
        <h3 class="project-languages">HTML/CSS</h3>
        <a href="https://github.com/Alecks20/Legacy-Website" target="_blank"><h1 class="box-title">Atomic2ds Landing Page (Discontinued)</h1></a>
        <p class="box-text">
            My original website that was deployed at atomic2ds.github.io, my first official attempt at HTMl/CSS. Didn't go well and the website is an absolute mess.
        </p>
    </div>



</div>

    {{ footer | safe }}
</body>
</html>