<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="shortcut icon" href="{{ favicon }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>A3D - Upload</title>
</head>
<body style="background-color: #0C0F15;"></body>
<body>
    {{ navigation | safe }}

    <div class="upload-box">
        <form action="https://media.a3d.pro/upload-from-gui" method="post" enctype="multipart/form-data" class="upload-form">
            <input type="file" name="file" id="file">
            <label for="authorization">Authorization Token:</label>
            <input type="text" name="authorization" id="authorization">
            <input type="submit" value="Upload">
        </form>
    </div>

    <div class="footer">
        <p>Made with ❤️ by Atomic2ds</p>
    </div>
</body>
</html>